<!DOCTYPE html>
<html>
  <head>
    <title>Closet Maker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <div class="logo">
        <%= link_to "Closet", root_path, id: "logo" %>
      </div>
      <div class="nav-content">
        <% if !current_user.nil? %>
          <% unless current_page?(new_user_item_path(current_user)) %>
            <%= link_to 'Add New Item', new_user_item_path(current_user), :class => 'add_new' %>
          <% end %>
          <% unless current_page?(user_items_path(current_user)) %>
            <%= link_to 'My Wardrobe', user_items_path(current_user) %>
          <% end %>
            <div class="dropdown">
              <button class="dropbtn">
                <%= User.find_by(id: session[:user_id]).username.titleize %>
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <%= link_to 'Settings', edit_user_path(current_user) %>
                <%= link_to 'Log Out', logout_path, method: :delete %>
              </div>
            </div>
        <% else %>
          <%= link_to 'Log In', login_path %>
        <% end %>
      </div>
    </header>
    <div class="content-container">
    <%= yield %>
    </div>
  </body>
  <!-- temporarily put all script here. TODO: MOVE ASAP -->
  <script>
      // Make hair accessories selector appear when HA option is selected in form(s)
      $("select.options-item-type").change(function(){
          selected = $(this).find(":selected").text()
          if (selected === "Hair Accessory"){
              $(".options-ha-type").show();
          }
          else if (selected === "Jewelry"){
            $(".options-j-type").show();
          }
          else if ($(".options-ha-type").is(':visible')) {
              $(".options-ha-type").hide();
              $(".options-ha-type").val(""); //reset value in case it was chosen
              //different style in forms so do this for now
              $(".options-ha-type select").val("");
          }
          else if ($(".options-j-type").is(':visible')) {
              $(".options-j-type").hide();
              $(".options-j-type select").val("");
              $(".options-j-type").val("");
          }
      });

      //make brand selection appear when it is selected in form(s)
      $("select#brand_select").change(function(){
          brand = $(this).find(":selected").text();
          if (brand === "Enter Another Brand..."){
              $(".brand-text-input").val("");
              $(".brand-text-input").show();
          }
          else {
            if($(this).is(':visible')) {
              $(".brand-text-input").hide();
            }
            if(brand === "All Brands"){
              $(".brand-text-input").val("");
            }
            else {
              $(".brand-text-input").val(brand); //change brand value to selected option
            }
          }
      });

      // Gets data from provided reference URL to automatically fill some fields
      function getReflinkData(){
          url = $('#item_ref_url').val();
          if (url.includes("")) {
              // disable fields while making request
              $('#new_item :input').prop('disabled', true);
              $.ajax({
                  type: "GET",
                  url: "/requests/autofill/",
                  data: {"url": $('#item_ref_url').val()},
                  success: function (data) {
                      //autofill with info received              
                      $('#item_name').val(data.name);
                      $('#item_o_name').val(data.o_name);
                      $('#item_year').val(data.year);
                      $('#brand_select').val(data.brand);
                      $('.brand-text-input').val(data.brand);
                      
                      //make brand text input appear if not in the brand selection dropdown
                      if ($('#brand_select').val() === null){
                        $('#brand_select').val("input_brand");
                        $('.brand-text-input').show();
                      }

                      //make hair accessory type selection show if the right category
                      if (data.item_type === "Hair Accessories") {
                          $('#item_item_type').val("Hair Accessory");
                          $(".options-ha-type").show();
                      }
                      else {
                          $(".options-ha-type").hide();
                          $(".options-ha-type").val(""); //reset in case something was chosen

                          //adjustment for differences in item type names
                          if (data.item_type === "OP") {
                              $('#item_item_type').val("One Piece");
                          }
                          else if (data.item_type === "JSK") {
                              $('#item_item_type').val("Jumperskirt");
                          }
                          else if (data.item_type === "Accessories") {
                              $('#item_item_type').val("Accessory (other)");
                          }
                          else if ((data.item_type !== "Socks" && data.item_type !== "Pants" && data.item_type !== "Bloomers")
                              && (data.item_type).substr(-1) === 's') {
                              $('#item_item_type').val(data.item_type.slice(0, -1));
                          }
                          else {
                              $('#item_item_type').val(data.item_type);
                          }
                      }                  

                      // re-enable fields
                      $('#new_item :input').prop('disabled', false);
                  }
              });
              return false;
          }
      }

      function changeImgMode(){
          if ($('#img').prop('checked')){
              $('.item-contents-container').css({'display' : "flex"});
              $('.item_container').css({
                'margin' : "5px",
                'padding' : 0,
                'justify-content' : "center"
              });
              $('.item_info').hide();
              $('.edit_options').hide();
          }
          else {
              $('.item-contents-container').removeAttr('style');
              $('.item_container').removeAttr('style');
              $('.item_info').show();
              $('.edit_options').show();
          }
      }

      $("#img").change(function() {
          changeImgMode();
      });

      $(".color_search_btn button").click(function(){
        $(this).parent().hide();
        $(".color_select").slideDown();
      })

      $(document).ready(function(){
        changeImgMode();
        //display HA types on load if it is chosen
        if ($("select.options-item-type").find(":selected").text() === "Hair Accessory"){
            $(".options-ha-type").show();
        }
        else if ($("select.options-item-type").find(":selected").text() === "Jewelry"){
          $(".options-j-type").show();
        }

        if ($(".color_select").find(":checked").length > 0){
            $(".color_select").show();
            $(".color_search_btn").hide();
        }

        brand_text_input = $(".brand-text-input").val();
        brand_select_input = $("#brand_select").val();
        //case where the selected brand does not appear correctly in the dropdown
        if(brand_select_input === "" && brand_text_input !== ""){
            $("#brand_select").val(brand_text_input);
            //if it still doesn't exist, then brand is not in the dropdown, show text box
            if($("#brand_select").val() === null){
              $(".brand-text-input").show();
              $("#brand_select").val('input_brand');
            }
        }
      });
  </script>
</html>
