<!DOCTYPE html>
<html>
  <head>
    <title>Closet Maker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <div class="logo">
        <%= link_to "Closet", root_path, id: "logo" %>
      </div>
      <div class="nav-content">
        <% if !current_user.nil? %>
          <% unless current_page?(new_user_item_path(current_user)) %>
            <%= link_to 'Add New Item', new_user_item_path(current_user), :class => 'add_new' %>
          <% end %>
          <% unless current_page?(user_items_path(current_user)) %>
            <%= link_to 'My Wardrobe', user_items_path(current_user) %>
          <% end %>
            <div class="dropdown">
              <button class="dropbtn">
                <%= User.find_by(id: session[:user_id]).username.titleize %>
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <%= link_to 'Settings', edit_user_path(current_user) %>
                <%= link_to 'Log Out', logout_path, method: :delete %>
              </div>
            </div>
        <% else %>
          <%= link_to 'Log In', login_path %>
        <% end %>
      </div>
    </header>
    <div class="content-container">
    <%= yield %>
    </div>
  </body>
  <!-- temporarily put script here. MOVE ASAP -->
  <script>
      // Make hair accessories selector appear when HA option is selected in form(s)
      $("select.options-item-type").change(function(){
          if ($(this).find(":selected").text() === "Hair Accessory"){
              $(".options-ha-type").show();
          }
          else if ($(".options-ha-type").is(':visible')) {
              $(".options-ha-type").hide();
          }
      });

      // Gets data from provided reference URL to automatically fill some fields
      function getReflinkData(){
          url = $('#item_ref_url').val();
          if (url.substr(0, 21) === "https://lolibrary.org") {
              // disable fields while making request
              $('#new_item :input').prop('disabled', true);
              $.ajax({
                  type: "GET",
                  url: "/requests/autofill/",
                  data: {"url": $('#item_ref_url').val()},
                  success: function (data) {              
                      $('#item_name').val(data.name);
                      $('#item_o_name').val(data.o_name);
                      $('#item_brand').val(data.brand);
                      $('#item_year').val(data.year);

                      if (data.item_type === "OP") {
                          $('#item_item_type').val("One Piece");
                      }
                      else if (data.item_type === "JSK") {
                          $('#item_item_type').val("Jumperskirt");
                      }
                      else if (data.item_type === "Hair Accessories") {
                          $('#item_item_type').val("Hair Accessory");
                      }
                      else if (data.item_type === "Accessories") {
                          $('#item_item_type').val("Accessory (other)");
                      }
                      else if ((data.item_type !== "Socks" && data.item_type !== "Pants" && data.item_type !== "Bloomers")
                          && (data.item_type).substr(-1) === 's') {                          
                          $('#item_item_type').val(data.item_type.slice(0, -1));
                      }
                      else {
                          $('#item_item_type').val(data.item_type);                        
                      }
                      // re-enable fields
                      $('#new_item :input').prop('disabled', false);
                  }
              });
              return false;
          }
      }

      function changeImgMode(){
          if ($('#img').prop('checked')){
              $('.item-contents-container').css({
                  'min-height': "auto",
                  'min-width': "auto",
                  'padding': "10px"
              });
              $('.item_container').css({'margin': "5px"});
              $('.item_info').hide();
              $('.edit_options').hide();
          }
          else {
              $('.item-contents-container').removeAttr('style');
              $('.item_container').removeAttr('style');
              $('.item_info').show();
              $('.edit_options').show();
          }
      }

      $("#img").change(function() {
          changeImgMode();
      });

      $(document).ready(changeImgMode());
  </script>
</html>
