<% my_page = @user == current_user %>
<% type_list_options = ['Clothes', 'Main Pieces'] + Type.pluck(:name) %>
<% 
  sort_options = [['Recently Added', 'created_at+desc'], ['Oldest (Added)', 'created_at+asc'],
         ['Name (Alphabetical)', 'name'], ['Release Year (Newest)', 'year+desc'],
         ['Release Year (Oldest)', 'year+asc']]
%>
<% if my_page %>
  <% sort_options.concat [['Date Received (Newest)', 'date_r+desc'],
   ['Date Received (Oldest)', 'date_r+asc'], ['Date Purchased (Newest)', 'date_p+desc'],
   ['Date Purchased (Oldest)', 'date_p+asc'], ['Price Paid (Most Expensive)', 'p_price+desc'],
   ['Price Paid (Cheapest)', 'p_price+asc'], ['Price Paid + Fees (Most Expensive)', 'f_price+desc'],
   ['Price Paid + Fees (Cheapest)', 'f_price+asc']] %>
<% end %>

<h1>
  <% if my_page %>
    My Wardrobe
  <% else %>
    <%= @user.username %>'s Wardrobe
  <% end %>
</h1>

<div>
  <h3>Sort By</h3>
  <%= select_tag("brand_select", options_for_select([["Enter Another Brand...", "input_brand"]].concat(Brand.all.map{|b| [b.name]}),
        :selected => params[:brand]), class: 'brand-select', :include_blank => 'All Brands') %>

  <%= form_tag(user_items_path, :method => "get") do %>
    <%= text_field_tag(:brand, params[:brand], class: 'brand-text-input', placeholder: "Enter Brand") %>
    <%= select_tag("item_type", options_for_select(type_list_options.map{|t| [t, (t.gsub(/\s+/, "+"))]},
        :selected => params[:item_type]), :include_blank => 'All Item Types', :class => "options-item-type") %>
    <%= select_tag("ha_type", options_for_select(Hacctype.all.map{|h| [h.name, (h.name.gsub(/\s+/, "+"))]},
        :selected => params[:ha_type]), :include_blank => 'All Hair Accessories', :class => "options-ha-type") %>
    <%= select_tag("j_type", options_for_select(Jtype.all.map{|j| [j.name, j.name]},
    :selected => params[:j_type]), :include_blank => 'All Jewelry', :class => "options-j-type") %>
    <%= select_tag("column", options_for_select(sort_options, :selected => params[:column])) %>
    <% if my_page %>
      <br>
      Arrived?
      <%= select_tag("arrived", options_for_select([['Both', 1], ['Arrived', 2], ['Not Arrived', 3]], :selected => params[:arrived])) %>
    <% end %>
    <br>
    <%= label_tag "img", 'Image-only display'%>
    <%= check_box_tag("img", '1', params[:img]) %>

    <div class="color_select">
      <% ColorList.column_names[1..-4].each do |n| %>
        <span>
          <% if params[n] %>
            <input type="checkbox" name="<%= n %>" id="<%= n %>" checked="<%= params[n] %>" value="<%= params[n] %>">
          <% else %>
            <input type="checkbox" name="<%= n %>" id="<%= n %>">
          <% end %>
          <%= label_tag n, n.titleize %>
        </span>
      <% end %>
    </div>

    <span class="color_search_btn">
      <button type="button">Search for colours...</button><br>
    </span>

    <%= submit_tag "Submit", :class => 'submit_sort' %>
  <% end %>
</div>

<div>
  <%= @items.total_entries %> results found.
</div>
<!-- This displays pagination navigation -->
<%= will_paginate @items %>
<!-- Contain for all item boxes -->
<div class="items_container">
<% @items.each do |i| %>
  <% if !i.hidden || (i.hidden && @user == current_user) %>
    <div class='item_container'>
      <%= link_to(user_item_path(@user, i), target: :_blank) do %>
          <span class="item-contents-container">
            <% if i.img? %>
              <%= image_tag i.img.url, :class => 'item_img' %>
            <% else %>
              <div class="no_img">
                <%= i.name %>
              </div>
            <% end %>
            <span class="item_info">
              <h2>
                <%= i.name %>
              </h2>
              <div>
                <span class="subtitle">
                  <%= i.o_name %>
                </span>
                <br>
                <%= i.brand %>
                <br>
                <%= i.color.titleize %>
              </div>
            </span>
          </span>
      <% end %>
      <% if my_page %>
        <div class="edit_options">
          <%= link_to 'Edit', edit_user_item_path(current_user, i) %>
          <%= link_to 'Delete', user_item_path(current_user, i),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>