<% my_page = @user == current_user %>

<h1>
  <% if my_page %>
    My Wardrobe
  <% else %>
    <%= @user.username %>'s Wardrobe
  <% end %>
</h1>

<div>
  Sort By
  <%= form_tag(user_items_path, :method => "get") do %>
    <%= select_tag("brand", options_for_select(Brand.all.map{|b| [b.name, (b.name.gsub(/\s+/, "+"))]},
        :selected => params[:brand]), :include_blank => 'All Brands ') %>
    <%= select_tag("item_type", options_for_select(Type.all.map{|t| [t.name, (t.name.gsub(/\s+/, "+"))]},
        :selected => params[:item_type]), :include_blank => 'All Item Types', :class => "options-item-type") %>
    <%= select_tag("ha_type", options_for_select(Hacctype.all.map{|h| [h.name, (h.name.gsub(/\s+/, "+"))]},
        :selected => params[:item_type]), :include_blank => 'All Hair Accessories', :class => "options-ha-type") %>
    <%= select_tag("column", options_for_select([['Oldest (Added)', 'created_at+asc'], ['Recently Added', 'created_at+desc'],
         ['Name (Alphabetical)', 'name'], ['Date Received (Newest)', 'date_r+desc'],
         ['Date Received (Oldest)', 'date_r+asc'], ['Date Purchased (Newest)', 'date_p+desc'],
         ['Date Purchased (Oldest)', 'date_p+asc'], ['Price Paid (Most Expensive)', 'p_price+desc'],
         ['Price Paid (Cheapest)', 'p_price+asc'], ['Price Paid + Fees (Most Expensive)', 'f_price+desc'],
         ['Price Paid + Fees (Cheapest)', 'f_price+asc']], :selected => params[:column])) %>
    <br>
    Arrived?
    <%= select_tag("arrived", options_for_select([['Both', 1], ['Arrived', 2], ['Not Arrived', 3]], :selected => params[:arrived])) %>
    <br>
    <%= label_tag "img", 'Image-only display'%>
    <% if params[:img] == '1' %>
    <% img_option = true %>
    <% else %>
    <% img_option = false %>
    <% end %>
    <%= check_box_tag("img", '1', img_option) %><br>
    <%= submit_tag "Submit", :class => 'submit_sort' %>
  <% end %>
  <!--
  <div>
    <label for="display_img_only">Display Images Only</label>
    <input type="checkbox" id="display_img_only">
  </div>-->
</div>

<% @items.each do |i| %>
  <div class='item_container'
       <% if params[:img] == '1' %>
       style="margin:5px"
       <% end %>
  >
	<%= link_to(user_item_path(@user, i)) do %>
      <span class="item-contents-container"
        <% if params[:img] == '1' %>
          style="min-height:auto;min-width:auto;padding:10px"
        <% end %>
      >
        <% if i.img? %>
          <%= image_tag i.img.url, :class => 'item_img' %>
        <% else %>
          <div class="no_img">
            no image
          </div>
        <% end %>
        <% if params[:img] != '1' %>
          <h2>
            <%= i.name %>
          </h2>
          <div>
            <span class="subtitle">
              <%= i.o_name %>
            </span>
            <br>
            <%= i.brand %>
            <br>
            <%= i.color %>
          </div>
        </span>
        <% end %>
    <% end %>
    <% if params[:img] != '1' %>
      <% if my_page %>
        <div class="edit_options">
            <%= link_to 'Edit', edit_user_item_path(current_user, i) %>
          <%= link_to 'Delete', user_item_path(current_user, i),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>
