<div>
	<% if @item.img? %>
		<%= image_tag @item.img.url %>
	<% end %>
	<h2>
		<%= @item.name %>
	</h2>
	<p>
		<%= @item.o_name %>
	</p>
	<div>
		<%= @item.brand %>
	</div>
	<%= link_to 'Edit', edit_user_item_path(current_user, @item) %><br>
	<%= link_to 'Delete', user_item_path(current_user, @item),
		method: :delete,
		data: {confirm: 'Are you sure?'}
	 %><br>
	<%= link_to 'Back', user_items_path(current_user) %><br>
</div>
