<% my_page = @user == current_user %>

<div class="show_item_container">
	<% if @item.img? %>
		<%= image_tag @item.img.url %>
	<% end %>

	<h2>
		<% unless my_page %>
      <%= @user.username.titleize %>'s<br>
    <% end %>
    <% if not @item.ref_url.blank? %>
			<%= link_to @item.name, @item.ref_url, :target => "_blank" %>
		<% else %>
			<%= @item.name %>
		<% end %>
	</h2>
  <% if @item.notarrived %>
    <div style="color: red;text-align: right">
      *Not Arrived Yet
    </div>
  <% end %>
	<div>
		<% if @item.o_name %>
			<div class="subtitle">
				<%= @item.o_name %>
			</div>
		<% end %>
		<% if @item.brand %>
			<div>
				<%= @item.brand %>
			</div>
		<% end %>
		<div>
			<%= @item.item_type %>
			<% if @item.item_type == "Hair Accessory" %>
					: <%= @item.ha_type %>
			<% end %>
		</div>
		<% if @item.year %>
			<div>
				Release Year: <%= @item.year %>
			</div>
		<% end %>
		<% if @item.color %>
			<div>
				<%= @item.color.titleize %>
			</div>
		<% end %>
    <% if my_page %>
      <% unless @item.price_currency.blank? %>
        <% item_currency = Currency.where(name: @item.price_currency).first.symbol %>
      <% end %>
      <br>
      <% if @item.p_price %>
        <div>
          Price paid: <%= item_currency %><%= trim(@item.p_price) %> (<%= @item.price_currency %>)
        </div>
      <% end %>
      <% if @item.f_price %>
        <div>
          Price with fees, shipping: <%= item_currency %><%= trim @item.f_price %> (<%= @item.price_currency %>)
        </div>
      <% end %>
      <% if @item.date_p %>
        <div>
          Date purchased: <%= @item.date_p.to_s(:rfc822) %>
        </div>
      <% end %>
      <% if @item.date_r %>
        <div>
          Date Received: <%= @item.date_r.to_formatted_s(:rfc822) %>
        </div>
      <% end %>
      <% unless @item.notes.blank? %>
        <div class="notes">
          <b>Notes:</b> <%= simple_format(@item.notes) %>
        </div>
      <% end %>
  </div>
      <div class="item-edit-settings">
        <%= link_to 'Edit', edit_user_item_path(current_user, @item) %>
        <%= link_to 'Delete', user_item_path(current_user, @item),
          method: :delete,
          data: {confirm: 'Are you sure?'}
         %>
      </div>
  <% else %>
    <div class="item-edit-settings">
      <%= link_to 'Back', user_items_path(@user) %>
    </div>
  </div>
  <% end %>
</div>
